@tailwind base;
@tailwind components;
@tailwind utilities;

.table td,
.table th {
  vertical-align: top;
  border-top: none;
}

.detail-cell ul {
  padding-left: 1rem;
  margin-bottom: 0;
}

.detail-cell li {
  margin-bottom: 4px;
}
